html,body {
  box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.noSelect{user-select: none;}

body,html{
	width: 100%;
	height: 100%;
/*	background-color: #383838;*/
	background-color: #282828;

	
	
/*	background-color: darkslategrey;*/
	display: flex;
	
  justify-content: center;
  align-items: center;
	overflow: hidden;
}

header{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #181818;
	
	
/*	background-color: #497b7bff;*/
	
	
	border-bottom: 2px inset grey;
	z-index: 1500;
}

nav {
	border-bottom: none;
	display: flex;
  justify-content: flex-end;
	justify-content: center;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	margin: 0;
/*	padding: 20px;*/
	font-weight: 600;
/*	border: 1px solid grey;*/
}

ul li{
	display: inline-block;
	list-style: none;
	
}

ul li a{
	text-decoration: none;

}

nav ul{

}

nav ul li{
	line-height: 1em;
	margin: 10px;
}

nav ul li a.header-link{
/*	padding: 10px 10px 10px;*/
	border-radius: 5px;
/*	margin: 0 5px;*/
/*	margin-right: 15px;*/
  padding: 5px 20px 5px;   
	transition: all .35s;
/*	border: 2px solid darkslategrey;*/
	color: #888888;

}

nav ul li a.header-link:active{
	background-color: grey;
	
}

nav ul li a.header-link:hover{
	background-color: #000000;
	
/*	background-color: darkslategrey;*/
}

.content-container{
/*	background-color: #303030;*/
/*	background-color: darkslategray;*/
/*  align-items: center;*/
/*	position: relative;*/
		margin-top: 140px;
		height: 100%;
		width: 100%;
    max-width: 700px;
    padding: 20px 40px;
}

.about-content{
    margin: 60px auto;
    max-width: 350px;
    text-align: center;
}

.photograph-container{
/*	margin: 0 auto 20px;*/
}

.photograph{
	width: 230px;
/*	height: 230px;*/
	border-radius: 100%;
	border: 5px solid #181818;
/*	border: 5px solid darkslategray;*/
}

.intro-statement{
	  font-size: 1.5em;
		margin-top: 50px;
    font-weight: 700;
/*    line-height: 1.15em; ////////////*/
		text-align: center;

}

.intro-statement h1{
/*	margin: 1.5em 0 0;*/
/*  color: #585858;*/
	color: #181818;
	
/*	color: #497b7bff;*/
	
	font-family: 'Electrolize', sans-serif;
/*	font-family: 'Oswald', sans-serif;*/
/*	font-family: 'Open Sans', sans-serif;*/
}

.icon-container{
	position: relative;
/*		height: 100px;*/
	background-color: #383838;
/*	border: 1px solid white;*/
/*	transition: all 1s;*/
	
	display: flex;
	justify-content: center;
  align-items: center;
	border-radius: 15px;
	
	
}

.icon-container:hover{
	
}

.icon-container ul{
/*	margin-top: 80px;*/
}

.icon-container a.icon-link{
/*	border: 1px solid pink;*/
	
}

.icon-container ul li{
	margin-right: 40px;;
	

}

.icon-container ul li a{
/*	margin-right: 15px;*/
	margin: 0 auto;

	outline: none;
	
}

.fab{
	color: #181818;
/*	color: #497b7bff;*/
	transition: all .4s;
	
}

.fa-linkedin{

	
/*	border: none;*/
	
}

.fab:hover{
	color: #080808;
}


@media (max-width: 900px){
nav ul li a {
    padding: 10px 10px 10px;
    margin-right: 5px;
		border-radius: 5px;
	}
}
