html,body {
  box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.noSelect{user-select: none;}

body,html{
	width: 100%;
	height: 100%;
	background-color: #282828;

	display: flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
}

header{
	position: absolute;
	top: 0;
	width: 100%;
/*	height: 70px;*/
/*	height: auto;*/
	background-color: #181818;
	border-bottom: 2px inset grey;
	z-index: 1000;
	
}

nav {
	border-bottom: none;
	display: flex;
  justify-content: flex-end;
/*  font-family: 'Exo', sans-serif;*/
	font-family: sans-serif;
/*	font-family: 'Roboto', sans-serif;*/
	margin: 0;
/*	padding: 20px;*/
	font-weight: 700;
}

ul{

}

ul li{
	list-style: none;
	display: inline-block;
/*	text-align: left;*/
	line-height: 1em;
	margin: 10px;
	
	
	
}

ul li a{
/*	padding: 10px 10px 10px;*/
	text-decoration: none;
	border-radius: 5px;
/*	margin: 0 5px;*/
	margin-right: 15px;
  padding: 10px 20px 10px;
	
	
}

ul li a:active{
	background-color: grey;
}

ul li a:hover{
	background-color: aliceblue;
}

.content-container{
/*	background-color: gainsboro;*/
/*  align-items: center;*/
/*	position: relative;*/
	margin-top: 140px;
	height: 100%;
	width: 100%;
/*	  margin: 0 auto;*/
    max-width: 700px;
    padding: 20px 40px;
	
}

.about-content{
    margin: 60px auto;
    max-width: 350px;
    text-align: center;
}

.photograph-container{
/*	margin: 0 auto 20px;*/
}

.photograph{
	width: 230px;
/*	height: 230px;*/
	border-radius: 100%;
	border: 3px solid #181818;
}

.intro-statement{
	  font-size: 2.5em;
    font-weight: 700;
    line-height: 1.15em;
}

.intro-statement h1{
/*		margin: 1.5em 0 0.25em;*/
/*  color: #585858;*/
	color: #181818;
	font-family: 'Exo', sans-serif;
}




@media (max-width: 900px){
nav li a {
    padding: 10px 10px 10px;
    margin-right: 5px;
		border-radius: 5px;

	}
}